header {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 95px;
    background-color: #75bdef;
}

header button {
    padding: 10px 25px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}